#!/bin/bash
# zones need to be added to /etc/named.conf manually
# a rc file for testing upbind-edit with the included samples
export upbind_subsys=/var/lock/subsys/upbind
export upbind_pid=/var/run/upbind.pid
export upbind_log=/var/log/upbind.log
export upbind_zonedir=/var/named/
export upbind_refreshcmd="/etc/init.d/named reload"
export upbind_basedir=samples
export upbind_zones="domain1 domain2"
export upbind_zoneprefix_domain1="domain1.com."
export upbind_zoneprefix_domain2="domain2.org."

